@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --fade-trans: background-color 0.3s, color 0.3s; 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background: #FFFAFA;
  transition: var(--fade-trans);
}

a{
  text-decoration: none;
  color: #000;
}

/** Nav & Header text */
header{
  background: #FAE3E3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
  transition: var(--fade-trans);
}

#logo {
  font-family: "Kaushan Script", cursive;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  font-size: 1.7rem;
  color: #000;
  transition: var(--fade-trans);
  font-weight: 400;
} 

logo-img{
  padding-right: 10px;
}

/** Dark mode toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
  transition: all 0.5s ease-in-out;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;  
}

.slider.round {
  border-radius: 24px;
  transition: all 0.5s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

input:checked + .slider {
  background-color: #2196f3;
  transition: all 0.5s ease-in-out;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.sun-icon {
  margin-right: 9px;
  color: #222325;
  transition: var(--fade-trans);
  font-size: 1.4rem;
}

.moon-icon{
  margin-left: 9px;
  color: #222325;
  transition: var(--fade-trans);
  font-size: 1.4rem;
}

/** Header 2 */
.header-two{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: #121212; */
  transition: var(--fade-trans);
}

.big-text{
  font-size: 4.7rem;
  margin: 1rem 0rem;
  color: #000;
  /* color: #fff; */
  transition: var(--fade-trans);
}

span{
  color: #DA2F2F;
  /* color: #db0c0c; */
  transition: var(--fade-trans);
}

.small-text{
  font-size: 1.6rem;
  margin: 1rem 0rem;
  /* color: #fff; */
  transition: var(--fade-trans);
  color: #000;
}

/** Form*/
.search-form{
  padding: 2rem;
  display: flex;
  margin-bottom: 2rem;
}

.search-form input {
  width: 32rem;
  padding: 0.3rem 1rem;
  font-size: 1.4rem;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgb(231, 231, 231);
  border: none;
}

.search-form button{
  padding: 1.4rem 1.5rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  background-color: #DA2F2F;
  /* background-color: #db0c0c; */
  transition: var(--fade-trans);
  transition: all ease-in-out 0.3s;
}

.search-form button:hover{
  background: rgb(231, 231, 231);
  color: #DA2F2F;
  /* color: #db0c0c; */
  transition: var(--fade-trans);
}


/** More Button */
.nav-button{
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn {
  padding: 0.7rem 1.6rem;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  font-weight: 600;
  background-color: #DA2F2F;
  /* background-color: #db0c0c; */
  transition: var(--fade-trans);
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}

.more-btn:hover{
  background-color: #fff;
  color: #DA2F2F;
  /* color: #db0c0c; */
  transition: var(--fade-trans);
  border: 2px solid #DA2F2F;
}

/** Main */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
  position: relative;
}

.gallery-img{
  position: relative;
}

.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.dark-bg{
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
}

.gallery-img:hover img {
  opacity: 0.6;
}

.gallery-img:hover .dark-bg {
  opacity: 1;
}

.info{
  /* color: #000; */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.info a{
  padding: 0rem 0.7rem;
  color: #fff;
}

.info:hover{
 font-weight: 600;
}

/** Dark mode styles */

body.dark-mode{
  background: #121212;
}

.container.dark-mode {
  background: #121212;
}

#logo.dark-mode {
  color: #e0e0e0;
}

.sun-icon.dark-mode{
  color: #fff !important;
}

.moon-icon.dark-mode{
  color: #fff !important;
}

.header-two.dark-mode {
  background: #121212;
}

.big-text.dark-mode {
  color: #fff;
}

span.dark-mode {
  color: #db0c0c;
}

.small-text.dark-mode {
  color: #fff;
}

.search-form button.dark-mode{
  background-color: #db0c0c;
}

.search-form button.dark-mode:hover{
  color: #db0c0c;
}

.more-btn.dark-mode{
  background-color: #db0c0c;
}

.more-btn.dark-mode:hover{
  color: #fff;
  background-color: #121212;;
}

.info.dark-mode {
  color: #fff;
}

/** Responsive View */
@media(max-width: 960px){
  .switch {
    width: 53px;
    height: 28px;
  }
  .moon-icon, .sun-icon {
    display: none;
  }
  .gallery{
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
  }
  .search-form input{
    width: 18rem;
  }

  .big-text{
    font-size: 4rem;
    display: flex;
  flex-direction: column;
  }
}

@media screen and (max-width: 415px){
  .switch {
    width: 53px;
    height: 28px;
  }
  .moon-icon, .sun-icon {
    display: none;
  }
  .search-form input{
    width: 15rem;
  }

  .big-text{
    font-size: 3.8em;
    display: flex;
    flex-direction: column;
  }
  .small-text {
    text-align: center;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
}

@media screen and (max-width: 322px){
  .switch {
    width: 53px;
    height: 28px;
  }
  .moon-icon, .sun-icon {
    display: none;
  }

  body{
    overflow-x: hidden;
  }

  .search-form input{
    width: 11rem;
  }

  .big-text{
    font-size: 3.6rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  .search-form button{
    font-size: 1rem;
    padding: 1rem 1.1rem;
  }

  .big-text{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
  }

  .small-text{
    font-size: 1.3rem;
    text-align: center;
  }
}